{% extends 'base.html' %}

{% block title %} Add New Note {% endblock %}

{% block content %}

<h3>Add a New Note</h3>

<form method="POST" action="/users/{{username}}/notes/add">

    {{ form.hidden_tag() }}

    {% for field in form
  if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit">Add</button>
</form>

{% endblock %}