<html>

<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.css">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>

  <div class="container" style="margin-top: 2em">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-danger">{{ msg }}</div>
    {% endfor %}

    {% if 'user_id' in session %}
    <h6><a href="/logout">Log Out</a></h6>
    {% else %}
    <h6><a href="/login">Log In</a></h6>
    {% endif %}



    {% block content %}

    {% endblock %}
  </div>

</body>

</html>